.header {
    transition: all 0.2s linear;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        transition: all 0.2s linear;
    }

    @include maxw(1023px) {
        margin-bottom: 20px;

        &-main {
            padding: 20px 0;
            transition: all 0.2s linear;
        }
    }
}