.hero {
    position: relative;
    margin-bottom: 200px;

    &-image {
        width: 65%;
        margin-left: auto;
    }

    &-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    &-caption {
        font-size: 72px;
        font-weight: 600;
    }

    &-heading {
        font-size: 150px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &-link {
        font-size: 18px;
        color: $gray-light;
        text-decoration: underline;
        display: inline-block;
        font-weight: 600;
    }

    @media screen and (max-width: 1023.98px) {}

}