.hero {
    position: relative;
    margin-bottom: 200px;
    display: block;

    &-image {
        width: 65%;
        margin-left: auto;
    }

    &-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        transition: all 0.2s linear;
        left: 20%;
    }

    &-caption {
        font-size: 72px;
        font-weight: 600;
        margin-bottom: 5px;
        transition: all 0.2s linear;
    }

    &-heading {
        font-size: 150px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 40px;
        transition: all 0.2s linear;
    }

    &-link {
        font-size: 18px;
        color: $gray-light;
        text-decoration: underline;
        display: inline-block;
        font-weight: 600;
        transition: all 0.2s linear;
    }

    @include maxw(1023px) {
        margin-bottom: 100px;
        transition: all 0.2s linear;

        &-caption {
            font-size: 40px;
            transition: all 0.2s linear;
        }

        &-heading {
            font-size: 100px;
            transition: all 0.2s linear;
        }
    }

    @include maxw(767px) {
        &-content {
            transition: all 0.2s linear;
            left: 15px;
        }

        &-caption {
            font-size: 20px;
            transition: all 0.2s linear;
        }

        &-heading {
            transition: all 0.2s linear;
            font-size: 40px;
            margin-bottom: 20px;
        }

        &-link {
            font-size: 16px;
            transition: all 0.2s linear;
        }
    }
}