.navigation {
    display: flex;
    align-items: center;
    gap: 0 60px;

    &-phone {
        color: $gray;
        font-weight: 300;

        span {
            font-weight: 600;
        }
    }
}