.portfolio {
    margin-bottom: 200px;

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 90px;
        margin-bottom: 95px;
    }

    &-image {
        display: block;
        margin-bottom: 40px;
    }

    &-category {
        font-size: 14px;
        color: $gray-light;
    }

    &-column {
        display: flex;
        flex-direction: column;
        gap: 85px 0;
    }

    &-button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
    }
}