.team {
    &-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-content {
        max-width: 370px;
        width: 100%;
        flex-shrink: 0;
    }
}