.team {
    padding: 150px 0;
    background-color: $gray-lighter;

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-content {
        max-width: 370px;
        width: 100%;
        flex-shrink: 0;
    }

    &-images {
        width: 100%;
        max-width: 670px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 30px;
    }

    &-heading {
        font-size: 36px;
        font-weight: 800;
        line-height: 1.55;
        margin-bottom: 30px;
    }

    &-desc {
        font-size: 18px;
        line-height: lineH(32, 18);
        margin-bottom: 60px;
    }
}